@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
}

.quote-container{
    background-color: aliceblue;
    margin-bottom: 30px;
    padding:50px;
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 1%;
}

.quote-container h1{
    font-family: 'Indie Flower', cursive;
}
.quote-container h4{
    margin-top:0;
    padding-top:0;
    text-align: right;
}

.quote-footer{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    border:white;
}

.quote-footer i{
    font-size: 80px;
    margin: 10px;
    content:''
}

.quote-footer a{
    text-decoration: none;
}

button{
    color:white;
    height:50px;
    width:100px;
    font-size: small;
    font-weight: 100;
    border:white 1px solid;
    margin: 0;
    padding: 0;
    outline:0;
}

button:hover{
    transform:scale(1.1);
    cursor: pointer;
}

.developed {
    text-decoration: none;
    color:aliceblue;
}

.quote-footer i:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.something{
    color:#e46969 #868d26 #3f7216;
}

@media(max-width:565px){
    .container{
        width:100vw;
        overflow-x: hidden; 
        height:auto;
        margin-top:0;      
    }

    .quote-footer{
        width:90vw;
        overflow-x: hidden; 
    }
    .quote-container{
        overflow-x: hidden; 
        top:0;
        margin-top:0;
        padding-top:0;
        width:90vw;
        min-height:70vh;
    }
}